.wy-side-nav-search,
 .wy-nav-top {
  background: #6E54C9;
}
/* Sidebar */
.wy-nav-side {
  background: #2A2F37;
}

.wy-nav-content {
    background: #F0EDEE;
}

.wy-menu-vertical a:hover{background-color:#626D7F;cursor:pointer}